.download-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.5em;
}

.download-img {
    cursor: pointer;
    height: 3rem;
    width: 16rem;
    margin: 0;
    padding: 0;
}